
# --------- ignore ---------

# dependencies
/node_modules
package-lock.json
/.pnp
.pnp.js
# production
/build
# debug and logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/logs/access.log*
/logs
*.log
# testing
/coverage
/tests/database.sqlite
# sonar
test-report.xml
/.scannerwork
# vercel
.vercel
# misc
.DS_Store
*.pem
# dotenv files
.env*
.env.local*
.env.test*
.env.development*
.env.production*
# files extensions
*.docx
*.xlsx
# test files
*.test.js.snap
**/__snapshots__
# Docker files
/.docker/
# VS Code settings
/.vscode/*
# others
TODO*
.idea

# --------- except ---------

!/envs/.env.development.local
!TODO-sample.txt
