
# --------- ignore ---------

# dependencies
/node_modules
/.pnp
.pnp.js
# production
/build
# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
# testing
/coverage
# vercel
.vercel
# misc
.DS_Store
*.pem
# dotenv files
.env
.env.local
.env.test.local
.env.development.local
.env.production.local
.env.test
.env.development
.env.production
/env/*
# files extensions
*.docx
*.xlsx
# test files
*.test.js.snap
**/__snapshots__
# PWA configs
/public/sw.js*
/public/workbox-*.js*
/public/fallback-*.js*
# Docker files
/.docker/
# others
TODO.txt


# --------- except ---------

!/env/.env.development.local
