{
	"trailingComma": "es5",
	"semi": true,
	"singleQuote": true,
	"quoteProps": "as-needed",
	"bracketSpacing": true,
	"useTabs": true,
	"tabWidth": 2,
	"printWidth": 80,
	"proseWrap": "never",
	"endOfLine": "lf",
	"overrides": [
		{
			"files": "*.js",
			"options": {
				"printWidth": 90
			}
		},
		{
			"files": "*.ts",
			"options": {
				"printWidth": 90
			}
		},
		{
			"files": "*.jsx",
			"options": {
				"jsxSingleQuote": true,
				"printWidth": 100
			}
		},
		{
			"files": "*.tsx",
			"options": {
				"jsxSingleQuote": true,
				"printWidth": 100
			}
		},
		{
			"files": "*.json",
			"options": {
				"singleQuote": false,
				"printWidth": 150
			}
		},
		{
			"files": "*.md",
			"options": {
				"printWidth": 120
			}
		},
		{
			"files": "*.yml",
			"options": {
				"proseWrap": "always",
				"endOfLine": "crlf"
			}
		}
	]
}
