{
	"$schema": "https://json.schemastore.org/swcrc",
	"jsc": {
		"target": "es2020",
		"parser": {
			"syntax": "typescript",
			"decorators": true,
			"dynamicImport": true,
			"dts": true
		},
		"transform": {
			"decoratorMetadata": true,
			"legacyDecorator": true
		},
		"baseUrl": "./",
		"paths": {
			"src/shared/types/*": [
				"src/shared/types/*"
			]
		},
		"keepClassNames": true,
		"externalHelpers": true,
		"loose": false
	},
	"module": {
		"type": "commonjs",
		"strict": true,
		"noInterop": false
	},
	"exclude": [
		// "./**/.*.js$"
	],
	"sourceMaps": true,
	"minify": false
}